extends layout

block content
  .container.d-flex.justify-content-center.align-items-center.min-vh-100
    .text-center
      h1= title
      p Welcome to #{title}

      if error == 'logoutError'
        .alert.alert-danger(role='alert') There was an error logging you out. Please try again.
      if userInfo && userInfo.length > 0
        p Welcome our GitHub guest: #{userInfo[0].github_username}
        //- Logout Button
        a.btn.btn-danger(href='/users/logout') Log Out

