extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 GitHub Actions Deployment Pipeline
  p Testing GitHub Actions pipeline!
  p Push again to see if changes made can be seen here!
  p Continue to make changes, push, and the results will be automatically deployed to the server!
  p Updated project settings so that changes in the existing repository can be reflected right away.
  p Updated local repo on remote server to keep synced with the existing repository
  p Rebooted remote server and push again to test.
  h1 ChatGPT Integration Progress Check
  p Test GitHub Webhook
  p Added chatgpt api key
  p Implemented a function to expand the commit message using OpenAI API
  p Removed excessive app in pm2
  h1 Autoposting Functionality Test
  p Added url and access token in order to make the post
  p Updated ChatGPT prompt to limit the total length of the post
  p Push again to test the posting functionality.
