extends layout

block content
  h1= title
  p Welcome to #{title}
  h1= GitHub Actions Deployment Pipeline
  p Testing GitHub Actions pipeline!
  p Push again to see if changes made can be seen here!
  
