extends layout 
block content

  .login-container.vh-100.d-flex.align-items-center.justify-content-center
    .card.text-center.bg-dark.text-white.shadow-lg(style="width: 22rem; border-radius: 1rem;")
      .card-body.p-5
        h2.fw-bold.mb-2.text-uppercase Login
        p.text-white-50.mb-5 Please log in using one of the following options!

        .d-flex.flex-column.align-items-center
          button.btn.btn-outline-light.btn-lg.mb-3.w-100(type='button' onclick="window.location.href='/auth/login/github'")
            i.fab.fa-github.fa-lg(style='margin-right: 8px')
            | Login with Github
          button.btn.btn-outline-light.btn-lg.w-100(type='button' onclick="window.location.href='/auth/login/linkedin'")
            i.fab.fa-linkedin.fa-lg(style='margin-right: 8px') 
            | Login with LinkedIn

        p.mt-3
          | If you haven't created an account yet, 
          a(href='/users/register' class='text-white fw-bold') create one