extends layout 
block content

  .login-container.vh-100.d-flex.align-items-center.justify-content-center
    .card.text-center.bg-dark.text-white.shadow-lg(style="width: 22rem; border-radius: 1rem;")
      .card-body.p-5
        h2.fw-bold.mb-2.text-uppercase Register
        p.text-white-50.mb-5 Please finish the following authorizations!

        .d-flex.flex-column.align-items-center
          if githubUsername
            button.btn.btn-success.btn-lg.mb-3.w-100(type='button' disabled)
              i.fab.fa-github.fa-lg(style='margin-right: 8px')
              | GitHub Authorized
          else
            button.btn.btn-outline-light.btn-lg.w-100(type='button' onclick="window.location.href='/auth/github'")
              i.fab.fa-github.fa-lg(style='margin-right: 8px')
              | Authorize GitHub
          
          button.btn.btn-outline-light.btn-lg.w-100(type='button' onclick="window.location.href='/auth/linkedin'")
            i.fab.fa-linkedin.fa-lg(style='margin-right: 8px') 
            | Authorize LinkedIn

        p.mt-3
          | If you've already done the authorization, 
          a(href='/users/login' class='text-white fw-bold') login now
